<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
    <title>Crypto Demo</title>
</head>

<body class="simple-style" onload="menuOption(<%= cryptodata.menuItem %>)">

<% include ./partials/menunav.ejs %>

<% include ./partials/aes_encrypt.ejs %>
<% include ./partials/aes_decrypt.ejs %>
<% include ./partials/sha_hash.ejs %>
<% include ./partials/rsa_keys.ejs %>
<% include ./partials/rsa_encrypt.ejs %>
<% include ./partials/rsa_decrypt.ejs %>

<br>
<br>
<br>

</body>
</html>
